<ion-header [translucent]="false" mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()" color="primary">
                <ion-icon slot="start" name="arrow-back-outline" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

    <ion-header collapse="condense" mode="ios" class="ion-no-border">
        <ion-toolbar>
            <ion-title size="large" class="welcome">Hola!</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="ion-padding">
        <ion-label id="parrafo">Crea una nueva cuenta</ion-label>
    </div>


    <section class="container ion-padding">
        <form [formGroup]="this.formRegister" class="form">
            <div>
                <ion-item class="inputs" id="input-user">
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input type="text" class="form-control" formControlName="name" required></ion-input>
                </ion-item>
            </div>

            <div>
                <ion-item class="inputs">
                    <ion-label position="floating">Apellido</ion-label>
                    <ion-input type="text" name="referencia" class="form-control" formControlName="lastName"
                        required></ion-input>
                </ion-item>
            </div>

            <ion-list style="margin-bottom: 20px;">
                <ion-item>
                    <ion-label>Tipo de documento</ion-label>
                    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Seleccionar"  class="form-select form-control" id="documentType" name="documentType"
                    formControlName="documentType">
                        <ion-select-option value="CC">CC - Cédula de ciudadania</ion-select-option>
                        <ion-select-option value="pasaporte">Pasaporte</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>

                <div>
                    <ion-item class="inputs">
                        <ion-label position="floating">Documento de identidad</ion-label>
                        <ion-input type="number" name="referencia" class="form-control" formControlName="document"
                            required></ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item class="inputs">
                        <ion-label position="floating">Correo</ion-label>
                        <ion-input type="email" name="referencia" class="form-control" formControlName="email"
                            required></ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item class="inputs">
                        <ion-label position="floating">Teléfono</ion-label>
                        <ion-input type="tel" name="phone" class="form-control" formControlName="phone"
                            required></ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item class="inputs">
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input type="password" name="referencia" class="form-control" formControlName="password"
                            required></ion-input>
                    </ion-item>
                </div>

                <ion-button color="yellow" type="submit" (click)="this.register()"><span class="span-login">Registrar</span></ion-button>
        </form>
    </section>
</ion-content>