.toolbar-container {
    box-shadow: none !important;
}

ion-content{
    --background:var(--background-color, #ffffff)
}

.container{
    margin: 0px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs{
    margin-bottom: 15px;
}

ion-toolbar.toolbar-title-default.ios.in-toolbar.hydrated{
    --background: var(--ion-toolbar-background, #ffffff);
} 

.span-login{
    color: #ffffff;
    text-transform:initial;
}

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.img-fluid{
    width: fit-content;
}