#image{
height:100%;
width: 100%;
}

ion-content{
    --background:var(--background-color, #ffffff)
}
ion-header {
    --background:var(--background-color, #F1EEE7)
    }

    .header-collapse-condense ion-toolbar {
        --background: var(--ion-toolbar-background, #FDC868);
    }

.welcome{
    text-align:center; 
    font-family:'Montserrat';
}
