#image{
height:100%;
width: 100%;
}

.titulo {
    width: 100%;
    position: absolute;
    z-index: 100;
    color: white;
    font-weight: bold !important;
    font-family: 'Asap', sans-serif;
    background-color: red;
    padding: 5px 5px 40px 5px;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#0000000',GradientType=0 ); /* IE6-9 */
}

.titulo h1{
    position: absolute;
    top: 5px;
    left: 5px;
}

#item{
    min-width:30%;
    max-width:50%;
}
