::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none !important;
    overflow: hidden;
}

ion-header {
    --ion-background-color: transparent;

}

#filter { --ion-background-color: transparent;}

ion-content {
    --background: url(../../assets/bg2.jpg) no-repeat center center / cover;
}