<ion-tabs>

  <ion-tab-bar slot="bottom" id="tab-bar">
      <ion-tab-button tab="tab1" class="tab-buttons">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-label>Reportar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" class="tab-buttons">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3" class="tab-buttons">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <ion-label>Apoyados</ion-label>
      </ion-tab-button>
      <div class="indicator"></div>
  </ion-tab-bar>
</ion-tabs>




