#parrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ion-card {
    height: 197px !important;
    border-radius:10px;
}

ion-img {
    height: 50px;
}

label{
    margin:0px auto;
    width:100%;
}
.contenido {
    text-align: center;
    height:37px;
}
.contenido h3{
    font-weight: bold;
}
#basura{
    height:54px;
    text-align: center;
}

#alumbrado{
    height:54px;
    text-align: center;
}

/*Responsive*/

/*desde la anchura 0px a la anchura 888px de pantalla se ejecutaran estos estilos*/
@media (min-width: 1283px) {

    ion-grid{
        display: block;
    }
    ion-img {
        height: 100px;
    }
    ion-card{
        height:220px !important;
    }

    #alumbrado{
        height:51px !important;
        text-align: center;
    }

}

    @media (min-width: 390px) {

        ion-card{
            height:220px;
        }

        #basura{
            height:58px;
            text-align: center;
        }

        #alumbrado{
            height:70px;
            text-align: center;
        }
}

