*{
    font-family: lato;
}
.menu-header-bg{
height: 180px;
width: 350px;
background: var(--ion-color-green);
background: linear-gradient(90deg,#FDC868 0%, #ffdfa3 100%);
box-shadow: 0px 1px 10px #ffcd70;
transform: rotate(-15deg);
border-radius: 10px 10px 10px 50px;
margin-left: -18px;
margin-top: -50px;
margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top:30px;
    left:15px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius:50%;
        border:7px solid #ffcd70;
        margin-right:14px;
    }

    h2{
        font-weight: 300;
        color: #000000;
        font-family: Montserrat;
    }
}


.menu-items{
    margin: 0px;

    ion-icon{
        margin-right: 20px;
        color: #86979f;
    }

    ion-item{
        padding-left: 20px;
        padding-bottom: 10px;
        font-family: Montserrat;
    }
}

    .option:hover{
        border-left: 5px solid;
        color: #FDC868;
        padding-left: 15px;

        ion-icon{
            color:#ffa600;
        }
    }