<ion-header [translucent]="true" mode="ios">
    <ion-toolbar>
        <ion-title>Ubicación del problema</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="close()" color="primary">
                <ion-icon slot="start" name="arrow-back-outline" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="this.form">
        <div class="container-inputs">
            <ion-label class="title fs-12px">
                Dirección del daño en la via pública.
            </ion-label>
            <div class="inputs">
                <ion-item>
                    <ion-label position="floating">Seleccione en el mapa la ubicación</ion-label>
                    <ion-input type="text"  class="form-control" formControlName="address"  readonly required></ion-input>
                </ion-item>
            </div>

            <ion-label class="title fs-12px" style="margin-top:20px;">
                Digite un punto de referencia de la dirección.
            </ion-label>
            <div class="inputs">
                <ion-item>
                    <ion-label position="floating">Referencia en la via</ion-label>
                    <ion-input type="text" name="referencia"  class="form-control" formControlName="reference"></ion-input>
                </ion-item>
            </div>
        </div>
    </form>

    <app-map [fathertab]="tabName" [position]='position' [type] = "this.form.controls['type'].value"></app-map>
    
    <ion-chip mode="ios" id="myPosition" [outline]="true" (click)="Mygeolocation()">
        <label> mi ubicación</label>
        <ion-icon name="locate" color="dark"></ion-icon>
    </ion-chip>

    <div>
        <ion-grid fixed >
            <ion-row>
                <ion-col size="4" sizeLg="2" class="wrapped-image" *ngFor="let photo of this.photoservice.photos; index as position">
                    <ion-button class="foto" color="danger" fill="clear" (click)="deletePicture(photo, position)">
                        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                    </ion-button>
                    <ion-img [src]="photo.webPath"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col size="6" class="d-flex">
                    <ion-label class="photo-label">Tomar fotografia</ion-label>
                    <ion-button class="button" shape="round" fill="outline" (click)="addnewToGallery()" color="primary">
                        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
                    </ion-button>
                </ion-col>

                <ion-col size="6" class="d-flex">
                    <ion-label class="photo-label">agregar de galeria</ion-label>
                    <ion-button  class="button" shape="round" fill="outline" (click)=" SearchInGallery()" color="primary">
                        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button id="continue" color="yellow" (click)="continue()"  shape="round" type="submit" [disabled] ="this.form.controls['address'].value == '' || this.form.controls['reference'].value == '' "> Continuar </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
