<ion-header mode="ios" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tabsContent">
  
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large" class="title">SinúRep</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <p id="parrafo">¿Que tipo de reporte desea realizar?</p>

<app-cards></app-cards>
</ion-content>