.header-content{
    position: absolute;
    top:30px;
    left:15px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius:50%;
        border:7px solid #ffcd70;
        margin-right:14px;
    }

    h2{
        font-weight: 300;
        color: #000000;
        font-family: Montserrat;
    }
}