ion-card {
    height: 197px !important;
    border-radius:10px;
    box-shadow:0px 0px 5px #ccc;
}

ion-img {
    height: 50px;
}

.container{
    text-align: center;
}

.container h3{
    font-weight: bold;
}

ion-card:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.titulo-reporte{
    margin-top: 10px !important;
    margin-bottom: 5px;
}

// ion-card.md.hydrated {
//     height: 160px !important;
// }

@media (min-width: 1283px) {

    ion-grid{
        display: block;
    }
    ion-img {
        height: 100px;
    }
    ion-card{
        cursor: pointer;
    }
}



