<ion-grid fixed mode="md">
<ion-row class="d-flex">
  <ion-col size-lg="4" size-md="4" size-xs="6" size-sm="4">
  <ion-card (click)="reportar(reports_types[1])">
<ion-card-content class="container ion-padding">
  <ion-img src="../../assets/logos/CANECA.png"></ion-img>
  <h3 class="titulo-reporte">puntos de basuras</h3>
  <ion-label>reporte acumulacion de basura en espacios publicos</ion-label>
</ion-card-content>
</ion-card>
  </ion-col>
  <ion-col size-lg="4" size-md="4" size-xs="6" size-sm="4">
    <ion-card (click)="reportar(reports_types[2])">
      <ion-card-content class="container ion-padding">
        <ion-img src="../../assets/logos/ALUMBRADO.png"></ion-img>
        <h3 class="titulo-reporte">Alumbrado publico</h3>
        <ion-label>reporte daño de energia y luminarias</ion-label> 
      </ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col size-lg="4" size-md="4" size-xs="6" size-sm="4">
    <ion-card (click)="reportar(reports_types[0])">
      <ion-card-content class="container ion-padding">
        <ion-img src="../../assets/logos/semaforo.png"></ion-img>
        <h3 class="titulo-reporte">Semaforo</h3>
        <ion-label>reporte daños en semaforización</ion-label>  
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-grid>