<ion-grid fixed mode="md">

<ion-row>
  <!-- <ion-col sizeLg="1"></ion-col> -->
  <ion-col size="12" size-lg="4" size-md="4" size-xs="6">
  <ion-card class="ion-padding" (click)="reportar(reports_types[1])">
<ion-img src="../../assets/logos/basura.png"></ion-img>
<ion-card-content class="contenido" id="basura">
  <h3>puntos de basuras</h3>
</ion-card-content>
<label >reporte acumulacion de basura en espacios publicos</label>
</ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4" size-md="4" size-xs="6">
    <ion-card class="ion-padding" (click)="reportar(reports_types[2])">
      <ion-img src="../../assets/logos/farola.png"></ion-img>
      <ion-card-content class="contenido" id="alumbrado">
        <h3>Alumbrado publico</h3>
      </ion-card-content>
      <div class="container">
      <label>reporte daño de energia y luminarias</label>    
      </div>
    </ion-card>
  </ion-col>

  <ion-col size="12" size-lg="4" size-md="4" size-xs="6" >
    <ion-card class="ion-padding" (click)="reportar(reports_types[0])">
      <ion-img src="../../assets/logos/semaforo.png"></ion-img>
      <ion-card-content class="contenido">
        <h3>Semaforo</h3>
      </ion-card-content>
      <div class="container">
        <label id="semaforo">reporte daños en semaforización</label>    
      </div>
    </ion-card>
  </ion-col>
  

</ion-row>
</ion-grid>